# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs

# Files from Forge MDK
forge*changelog.txt
CREDITS.txt
LICENSE.txt
README.txt
changelog.txt
build.bat
.factorypath
/.apt_generated/
/.apt_generated_tests/
libs/fabric-renderer-api-v1-3.2.1.jar
libs/*.jar
